@font-face {
  font-family: "Permanent Marker";
  src: url(./fonts/PermanentMarker.ttf) format("truetype"),
    url(./fonts/PermanentMarker.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter.ttf) format("truetype");
}

body,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: "Inter", sans-serif;
  background: #eeeeee;
}

.header {
  height: 100vh;
  background-color: #eee;
  background-image: url(/images/Imagen_Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

}

/* agrega el título de la página aquí */
h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 140px;
  line-height: 140px;
  color: white;
  text-transform: uppercase;
  max-width: 1240px;
  margin:auto;
} 

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0,0.5);
  display: flex;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 790px;
  margin: 100px auto 50px;
  /* agrega aquí las reglas restantes */
}

/* agregar reglas CSS para tarjetas/cards y su contenido aquí */



.card{
  width: 350px;
  margin-bottom: 60px;
  padding: 45px 45px 70px;
  background: #fff;
  box-shadow: 4px 4px 5px rgba(0,132,255,0.4);
}

.card-title {
   font-family: "permanent Maker", cursive;
   font-size: 24px;
   margin-bottom: 10px;
   text-align: center;

}

.card-text{
  font-size: 16px;
  text-align: center;
}

.card-image {
  width: 100%;
  margin-bottom: 25px;
  height: 300px;
  object-fit: cover;

}

/* agregar una regla CSS para la firma del pie de página */

.footer{
  display: flex;
  min-height: 300px;
  background-color: #000;
  /* agrega aquí las reglas restantes */
}
.footer-author {
  font-size: 24px;
   color: #fff;
   margin: auto;
}